{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static '/cart/css/style.css' %}">    
    <link
      rel="shortcut icon"
      href="{% static 'cart/img/favicon.ico' %}"
      type="image/x-icon"
    />
    <title>TrendyMart | {% block title %}Cart{% endblock %}</title>
  </head>
  <body>
    {% block message %}
    {% if messages %}
<div class="messages">
    {% for message in messages %}
    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
</div>
{% endif %}{% endblock %}
    <div class="content">
      {% block content %}LOADING ..............................{% endblock %}
    </div>
  </body>
</html>
