{% extends 'cart/base.html' %}{% block content %} {% comment %} {% endcomment %}
{% if request.user.is_authenticated %}
<h2>Welcome, {{ request.user }}<br>
    {% if profile %}
        <img class='profile-pic' src="{{profile.image.url}}" alt="{{ request.user.image }}" >
    {% endif %}<br>
</h2>
<br><a href='{% url 'uploaddp' %}'>Upload dp</a><br><a href='{% url 'logout' %}'>log out</a>
{% else %}
<p>Please log in.</p><br><a href='{% url 'login' %}'>log in</a>
{% endif %} {% endblock %} {% block title %}Shop{% endblock %}
